<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="/vendor/magento/module-config/etc/system_file.xsd">
<system>
    <tab id="Juicy" translate="label" sortOrder="0">
        <label>Juicy</label>
    </tab>
    <section id="Juicy_Geoip" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
        <label>Geoip</label>
        <tab>Juicy</tab>
        <resource>Juicy_Geoip::Geoip</resource>
        <group id="enable" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Enable</label>
            <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Enable Geoip</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                <comment>
                    Enable GeoIp.
                </comment>
            </field>
        </group>


        <group id="CountryTable" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" >
            <label>Settings</label>
            <field id="settings" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Enable Geoip</label>
                <frontend_model>Juicy\Geoip\Block\Adminhtml\GeoTable</frontend_model>
                <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                <comment>
                Set GeoIp Options
                </comment>
            </field>
        </group>
    </section>
</system>
</config>